body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: black;
}

#intro_image {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.d-none {
    display: none;
}

#intro_span {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 70%;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
}